.JSONPreview {
    margin: 1em;
    border: 1px solid #000000;
  
    .title {
      border-bottom: 1px solid #000000;
      padding: 0.25em 0.5em;
      font-weight: bold;
      background-color: #888888;
    }
  
    .description {
      padding: 0.5em;
    }
}

.FacebookPostPreview {
  margin: 1em;
  border: 1px solid #000000;

  .id {
    border-bottom: 1px solid #000000;
    padding: 0.25em 0.5em;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4267B2;
  }

  .created_time {
    padding: 0.5em;
  }

  .message {
    padding: 0.5em;
  }

  .full_picture {
    padding: 0.5em;
  }

  .like {
    padding: 0.5em;
    font-weight: bold;
    color: #4267B2;
  }
}