.JSONPreview {
  margin: 1em;
  border: 1px solid #000000; }
  .JSONPreview .title {
    border-bottom: 1px solid #000000;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #888888; }
  .JSONPreview .description {
    padding: 0.5em; }

.FacebookPostPreview {
  margin: 1em;
  border: 1px solid #000000; }
  .FacebookPostPreview .id {
    border-bottom: 1px solid #000000;
    padding: 0.25em 0.5em;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4267B2; }
  .FacebookPostPreview .created_time {
    padding: 0.5em; }
  .FacebookPostPreview .message {
    padding: 0.5em; }
  .FacebookPostPreview .full_picture {
    padding: 0.5em; }
  .FacebookPostPreview .like {
    padding: 0.5em;
    font-weight: bold;
    color: #4267B2; }
